
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>
<table>

    <tr>
    <td>
        <a href="/Teachers">Teachers</a>
    </td>
    </tr>
    <tr>
    <td>
        <a href="/Students">Students</a>
    </td>
    </tr>
    <tr>
        <td>
            <a href="/Courses">Courses</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/ScheduleItems">ScheduleItems</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Assignments">Assignments</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/TeacherShareds">TeacherShareds</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/StudentShareds">StudentShareds</a>
        </td>
    </tr>

</table>

