@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LMS-RAM</h1>
    <p class="lead">LMS-RAM is a state of the art online learning management web application built with top modern ASP.Net MVC5 technology. </p>
</div>